* {
    margin: 0;
}
body {
    /* google font: roboto */
    font-family: 'Roboto', sans-serif;
    background: darkgrey;
}

.post {
    background: white;
    width: 600px;
    height: auto;
    margin: auto;
}

.header-post, .footer-post {
    padding: 15px;
}

.img-post img {
    width: 100%;
}

/* Align two div, first left and second right: start */
.align-flex-two {
    display: flex;
    justify-content: space-between;
}

.align-flex-left, .align-flex-right {
    display: inline-block;
}
/* Align two div, first left and second right: end */

/* Custom header flex with icon an text: start*/
.header-title {
    display: flex;
}

.header-icon {
    width: 30px;
}

.header-text {
    display: inline-block;
    vertical-align: top;
}
/* Custom header flex with icon an text: end*/

.footer-post p {
    padding: 25px 0 0 0;
}